[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "==4.8.0"
dateutils = "==0.6.6"
django-toolbelt = "==0.0.1"
google-api-python-client = "==1.7.11"
line-bot-sdk = "==1.14.0"
python-dotenv = "==0.10.3"
requests = "==2.22.0"
selenium = "==3.141.0"
Jinja2 = "==2.10.3"
oauth2client = "==4.1.3"

[dev-packages]
mypy = "==0.730"
flake8 = "==3.7.8"
black = "==19.3b0"
pytest = "==5.2.0"
pytest-cov = "==2.8.0"
pytest-xdist = "==1.30.0"
codecov = "==2.0.15"

[requires]
python_version = "3.6"

[scripts]
start = "python manage.py runserver"
ut = "py.test -v --duration=20 --capture=no --cov-config .coveragerc --cov=kbot ."
ut_fast = "py.test -v --duration=20 -m 'not slow' --capture=no --cov-config .coveragerc --cov=kbot ."
lint = "flake8 --max-line-length=100 --ignore=E203,W503 ./kbot"
mypy = "mypy --strict-optional --disallow-untyped-defs --disallow-untyped-calls ./kbot"
