[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"beautifulsoup4" = "==4.6.3"
dateutils = "==0.6.6"
django-toolbelt = "==0.0.1"
google-api-python-client = "==1.6.7"
line-bot-sdk = "==1.8.0"
python-dotenv = "==0.9.1"
requests = "==2.19.1"
selenium = "==3.14.0"
"Jinja2" = "==2.10"

[dev-packages]
mypy = "*"
"flake8" = "==3.5.0"
black = "==18.9b0"
pytest = "==3.8.0"
pytest-cov = "==2.6.0"
pytest-xdist = "==1.23.0"
codecov = "==2.0.15"

[requires]
python_version = "3.6"

[scripts]
start = "python manage.py runserver"
ut = "py.test -v --capture=no --cov-config .coveragerc --cov=kbot ."
lint = "flake8 --max-line-length=100 --ignore=W503 ./kbot"
